* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    padding-top: 65px;
    padding-bottom: 65px;
}

footer {
    background-color: orange;
}

.footer-icons {
    color: white;
    font-size: 32px;
}

.search-container form {
    margin-top: 1rem;
    height: 48px;
    width: 100%;
}

.search-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.search-container button {
    background-color: white;
    padding: 0 5px;
    border: 0;
}

.search-container input::placeholder {
    font-size: 20px;
}

.material-symbols-outlined {
    font-size: 48px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#filter {
    margin-right: 5%;
    margin-top: 2%;
    width: 20%;
}

#results {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search {
    position: relative;
    padding: 5px;
    width: 40%;
}

.search img {
    width: 200px;
    height: 200px;
}

.price {
    position: absolute;
    bottom: 5%;
    left: 5%;
    margin-bottom: 0px;
    background: rgba(222, 222, 222, 0.5);
    border-radius:3px;
    color: black;
}

.location {
    position: absolute;
    top: 5%;
    right: 5%;
    margin-bottom: 0px;
    background: rgba(222, 222, 222, 0.5);
    border-radius:3px;
    color: black;
}

.advanced {
    display: flex;
    justify-content: right;
}