.search-img {
    position: relative;
    padding: 5px;
    width: 100%;
}

.search-img img {
    width: 50%;
}

.price {
    position: absolute;
    bottom: 8%;
    left: 28%;
    margin-bottom: 0px;
    background: rgba(34, 34, 34, 0.763);
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.city {
    position: absolute;
    top: 8%;
    right: 28%;
    margin-bottom: 0px;
    background: rgba(34, 34, 34, 0.763);
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

* {
    text-align: center;
}

.material-symbols-outlined {
    font-size: 140px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#flowchart {
    width: 100%;
}