* {
    box-sizing: border-box;
    margin: 0px;
}

body { 
    padding-top: 65px; 
    padding-bottom: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: orange;
}

.footer-icons {
    color: white;
    font-size: 32px;
}